*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}
header {
    background: #FFF8F3;
    padding-top: 50px;
}
nav {
    width: 70%;
    max-height: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
    font-size: 20px;
}
nav ul li a:hover {
    color: #FD6E0A;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.logo span {
    color: #FD6E0A;
}
.btn {
    padding: 5px 16px;
    background: #FD6E0A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal;
    font-size: 20px;
}
.btn:hover {
    background: #e65c00;
}
nav ul li .btn {
    padding: 18px 35px;
    width: 150px;
    height: 65px;
}