* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

header {
    background: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat, no-repeat;
    background-position: center left, bottom right;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575
}

.container {
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
}

nav {
    width: 70%;
    max-height: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-weight: normal;
    font-size: 20px;
}

nav ul li a:hover {
    color: #FD6E0A;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #FD6E0A;
}

.btn {
    padding: 19px 17px 18px 17px;
    background: #FD6E0A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif !important;
}

.btn:hover {
    background: #e65c00;
    transition-duration: 0.5s;
}

nav ul li .btn {
    font-weight: normal;
    padding: 18px 35px;
    width: 150px;
    height: 65px;
}

#banner {
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-contant {
    max-width: 585px;
}

#banner .banner-contant h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

#banner .banner-contant h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}

#banner .banner-contant p {
    font-size: 18px;
    color: #474747;
    margin: 20px 0 30px 0;
    line-height: 1.5;
}

#banner .banner-image img {
    max-width: 584px;
    vertical-align: middle;
}

#banner .banner-contant .btn-2 {
    background: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}

#banner .banner-contant .btn-2:hover {
    background: #FD6E0A;
    color: #FFF8F3;
    transition-duration: 0.5s;
}

#about,
#skills,
#resume {
    padding-top: 130px;
}

#about .about-container {
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

#about .about-container .about-info {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575
}

.about-info .info-card h4 {
    font-size: 20px;
}

#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
}

.skill-box .skill-card {
    padding: 30px;
    box-shadow: 0 6px 50px 0 #00000011;
    max-width: 267px;
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;

}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 50px 0 #fd6f0a7c;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#resume {
    text-align: center;
}

#resume .resume-container {

    margin-top: 113px;
    display: flex;
    gap: 24px;
    text-align: left;
}

.resume-container hr {
    margin: 30px 0
}

.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card {
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747
}

.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container {


    display: flex;
    gap: 116px;
}

.footer-container h2 {
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}

.footer-container .social {
    max-width: 562px;
}

.footer-container .social p {
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-container .icons a {
    margin-right: 24px;
}

.footer-container form input[type="text"],
.footer-container form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
.footer-container form input[type="text"]:focus,
.footer-container form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #FD6E0A;
}